
---
section: Blog
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /posts/tag/{{ tag | slug }}/
---
{% set title = 'Tag “' ~ tag ~ '”' %}
<html class="{{ section }} {{ section }}--tag" lang="{{ global.lang }}">

  {% include "components/base.njk" %}

  <body>

    {% include "components/header-post.njk" %}

    <main class="main">

      <section>
        {% for post in collections[tag] %}
          {% include "components/single-post.njk" %}
        {% endfor %}
      </section>


    </main>

    {% include "components/base.njk" %}

  </body>

</html>